/*

Outlined Icon Buttons by MediaLoot
URL: http://medialoot.com/item/css-outlined-icon-buttons/

Designer: Tony Thomas

*/

/*Base Style*/

.ml-outlined-button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
	border: 2px solid;
	border-radius: 5px;
}

/*Icon Styling*/

.icn {
	width: 16px;
	height: 16px;
	margin: 0 -10px -2px 10px;
	display: none;
}

.ml-outlined-button:hover .icn {
	display: inline-block;
	width: 16px;
}

.icon:hover {
	width: 140px;
}

/*Sizes*/

.large {
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
	line-height: 52px;
	width: 130px;
	padding: 0 20px;
	height: 52px;
	transition: all 0.3s ease;
}

.medium {
	display: inline-block;
	font-size: 15px;
	line-height: 30px;
	width: 80px;
	padding: 0 10px;
	height: 30px;
	transition: all 0.3s ease;
}

.small {
	display: inline-block;
	font-size: 12px;
	line-height: 30px;
	width: 110px;
	padding: 0 10px;
	height: 30px;
	text-transform: uppercase;
	font-weight: 500;
	transition: all 0.3s ease;
}

.icon {
	display: inline-block;
	font-size: 16px;
	line-height: 40px;
	width: 120px;
	height: 40px;
	transition: width 0.5s ease
}

/*Colors*/

.color-1 {
	color: #349dfb;
	border-color: #349dfb;
	background: #ffffff;
}
.color-1:hover {
	background-color: #349dfb;
	color: #fff;
}

.color-2 {
	color: #57dc86;
	border-color: #57dc86;
	background: transparent;
}
.color-2:hover {
	background-color: #57dc86;
	color: #fff;
}

.color-3 {
	color: #ec5340;
	border-color: #ec5340;
	background: transparent;
}
.color-3:hover {
	background-color: #ec5340;
	color: #fff;
}

.color-4 {
	color: #f2bb3b;
	border-color: #f2bb3b;
	background: transparent;
}
.color-4:hover {
	background-color: #f2bb3b;
	color: #fff;
}

.color-5 {
	color: #7e8488;
	border-color: #7e8488;
	background: transparent;
}
.color-5:hover {
	background-color: #7e8488;
	color: #fff;
}