<!DOCTYPE html>
	<html>
		<table style="width:100%; border-spacing:3px;" border="0.5">
		<tr style="horizontal-align: right;">
			<td colspan="3" style="text-align:right; horizontal-align: right;"><button type="submit"><h3><?php echo "Orden Atencion Nº: ".$sin_numOA?></h3></button></td>			
		</tr>
		<tr style="horizontal-align: right;">
			<td style="text-align:left; width:50% "><button type="submit"><?php echo "Paciente: ".$nombreCompleto?></button></td>
			<td style="text-align:left; width:25%; horizontal-align: left;"><button type="submit"><?php echo "DNI: ".$numDoc?></button></td>
			<td style="height:13px; width:25%;"><button type="submit"><?php echo "Sexo: ".$sexo?></button></td>
			
		</tr>
		<tr style="horizontal-align: right;">
			<td style="height:13px;"><button type="submit"><?php echo "Fecha de Atención: ".$sin_fecha?></button></td>
			<td colspan="2" style="height:13px;"><button type="submit"><?php echo "Lugar de Atención: ".$nomEst_Prov?></button></td>
			
		</tr>
		<tr style="horizontal-align: right;">
			
			<td colspan="3" style="height:18px; vertical-align:bottom;"><button type="submit"><?php echo "Especialidad: "?></button></td>
		</tr>
		<tr style="horizontal-align: right;">
			<td style="text-align:left; width:50% "><button type="submit"><?php echo "Paciente: ".$nombreCompleto?></button></td>
			<td style="text-align:right; width:50%; horizontal-align: right;"><button type="submit"><h3><?php echo "Orden Atencion Nº: ".$sin_numOA?></h3></button></td>
			
		</tr>
		<tr>
			<td style="height:16px;"><button type="submit"><?php echo "DNI: ".$numDoc?></button></td>
			<td rowspan="5" colspan="2" border="1">CONDICIONES DEL PLAN:<br><br>
		</table>
</html>